USE [master]
GO
/****** Object:  Database [ControleGastos]    Script Date: 15/03/2026 14:22:20 ******/
CREATE DATABASE [ControleGastos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControleGastos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ControleGastos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControleGastos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ControleGastos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControleGastos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControleGastos]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 15/03/2026 14:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CAId] [int] IDENTITY(1,1) NOT NULL,
	[CADescricao] [varchar](400) NOT NULL,
	[CAFinalidade] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[CAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 15/03/2026 14:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[PEId] [int] IDENTITY(1,1) NOT NULL,
	[PENome] [varchar](200) NOT NULL,
	[PEIdade] [int] NOT NULL,
 CONSTRAINT [PK_PESSOAS] PRIMARY KEY CLUSTERED 
(
	[PEId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACOES]    Script Date: 15/03/2026 14:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACOES](
	[TRId] [int] IDENTITY(1,1) NOT NULL,
	[TRDescricao] [varchar](400) NOT NULL,
	[TRValor] [decimal](10, 2) NOT NULL,
	[TRTipo] [varchar](20) NOT NULL,
	[TRPessoaId] [int] NOT NULL,
	[TRCategoriaId] [int] NOT NULL,
	[TRData] [datetime] NOT NULL,
 CONSTRAINT [PK_TRANSACOES] PRIMARY KEY CLUSTERED 
(
	[TRId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRANSACOES]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACOES_CATEGORIAS] FOREIGN KEY([TRCategoriaId])
REFERENCES [dbo].[CATEGORIAS] ([CAId])
GO
ALTER TABLE [dbo].[TRANSACOES] CHECK CONSTRAINT [FK_TRANSACOES_CATEGORIAS]
GO
ALTER TABLE [dbo].[TRANSACOES]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACOES_PESSOAS] FOREIGN KEY([TRPessoaId])
REFERENCES [dbo].[PESSOAS] ([PEId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSACOES] CHECK CONSTRAINT [FK_TRANSACOES_PESSOAS]
GO
ALTER TABLE [dbo].[TRANSACOES]  WITH CHECK ADD  CONSTRAINT [CK_TRANSACOES_VALOR] CHECK  (([TRValor]>(0)))
GO
ALTER TABLE [dbo].[TRANSACOES] CHECK CONSTRAINT [CK_TRANSACOES_VALOR]
GO
USE [master]
GO
